<div class="card">
  <h1>Project 1: Shining Hover Button</h1>
  <div id="part-1" class="part part-1">
    <div class="title">
      <i class="fas fa-laptop-code"></i>
      <h3>Key logic & demo</h3>
    </div>
    <div class="content">
      <p>
        Đây là project của bài viết này. Do hiệu ứng là hover nên các bạn dùng
        máy tính để xem nhen.
      </p>
      <button class="complete">Hover Me</button>
      <p>Key Logic:</p>
      <p>1. Tạo button và style cơ bản</p>
      <p>2. Ứng dụng ::before & position: absolute để tạo thẻ chạy</p>
      <p>
        3. Ứng dụng transform, transition & :hover để tạo hiệu ứng hover thẻ
        chạy (shinning effect)
      </p>
      <p>
        4. Ứng dụng overflow: hidden để che đi phần :before ngoài button
      </p>
      <p>
        5. Ứng dụng opacity và một vài css để style button và hiệu ứng đẹp hơn
      </p>
      <p>Dưới đây là kết quả tương ứng từng step</p>
      <div class="container-step">
        <div class="card-step">
          <p>Step 1</p>
          <div>
            <button class="step-1">Hover me</button>
          </div>
        </div>
        <div class="card-step">
          <p>Step 2</p>
          <div>
            <button class="step-2">Hover me</button>
          </div>
        </div>
        <div class="card-step">
          <p>Step 3</p>
          <div>
            <button class="step-3">Hover me</button>
          </div>
        </div>
      </div>
      <div class="container-step">
        <div class="card-step">
          <p>Step 4</p>
          <div>
            <button class="step-4">Hover me</button>
          </div>
        </div>
        <div class="card-step">
          <p>Step 5</p>
          <div>
            <button class="step-5">Hover me</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="part-2" class="part part-2">
    <div class="title">
      <i class="fas fa-laptop-code"></i>
      <h3>Qua project này, các bạn sẽ biết được</h3>
    </div>
    <div class="content">
      <div>
        <h4>Trọng tâm về CSS Animation</h4>
        <div>
          <p>1. transition</p>
        </div>
      </div>
      <div>
        <h4>Những thuộc tính CSS khác</h4>
        <div>
          <p>1. ::before & ::after</p>
          <p>2. :hover, :active</p>
          <p>3. position: absolute</p>
          <p>4. opacity</p>
        </div>
      </div>
    </div>
  </div>
  <div id="part-3" class="part part-3 block-code">
    <div class="title">
      <i class="fas fa-laptop-code"></i>
      <h3>Tạo button và style cơ bản</h3>
    </div>
    <div class="content">
      <p>
        Đầu tiên chúng ta sẽ tạo 1 button như bình thường và style nó như sau
      </p>
      <div class="block-html">
        <h4>HTML</h4>
        <pre>
            <code class="language-html">
    &lt;button>Hover Me&lt;/button></code>
          </pre>
      </div>
      <div class="block-scss">
        <h4>SCSS</h4>
        <pre>
                <code class="language-css">
    button &#123;
      padding: 10px;
      margin-top: 100px;
      font-size: 18px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid gray;
      box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    &#125;</code>
          </pre>
      </div>
      <p>
        Và để cho dễ nhìn các bạn có thể set mình đoạn code này cho body. Về cái
        flex này do không liên quan chính đến project này, các bạn muốn set hay
        không cũng được, nên mình sẽ tạm thời không giải thích để các bạn tập
        trung hơn.
      </p>
      <div class="block-scss">
        <h4>SCSS</h4>
        <pre>
            <code class="language-css">
    body &#123;
      display: flex;
      justify-content: center;
    &#125;</code>
          </pre>
      </div>
      <div class="result">
        <p>Kết quả bước 1</p>
        <div>
          <button class="step-1">Hover me</button>
        </div>
      </div>
    </div>
  </div>
  <div id="part-4" class="part part-4 block-code">
    <div class="title">
      <i class="fas fa-laptop-code"></i>
      <h3>Pseudo element & position: absolute</h3>
    </div>
    <div class="content">
      <p>
        Bây giờ, chúng ta sẽ tìm hiểu về pseudo element là ::before và ::after
      </p>
      <p>
        Như tên gọi, các bạn có thể hiểu đơn giản là nó là 1 thành phần dùng để
        bổ sung content cho các thẻ html
      </p>
      <p>
        Ở trường hợp này, mình dùng ::before để tạo ra 1 thẻ nằm ngoài button,
        sau đó cho nó chuyển động ngang qua button mỗi khi hover, cũng như ẩn đi
        nó trong trạng thái bình thường.
      </p>
      <div class="block-scss">
        <h4>SCSS</h4>
        <pre>
                      <code class="language-css">
    button &#123;
      position: relative;
      &::before &#123;
        content: '';
        width: 50px;
        height: 100px;
        background: #fdc830;
      &#125;
    &#125;</code>
                </pre>
      </div>
      <p>
        Và như các bạn thấy, ở field content mình để trống (nhưng không được bỏ
        vì đó là field bắt buộc), vì mục tiêu mình dùng ::before ở đây không
        phải để bổ sung content. Mà là để tạo ra 1 thẻ nằm ngoài button như
        trong hình. Và tất nhiên, ở trường hợp này, các bạn hoàn toàn có thể
        dùng ::after vì nó tương đương nhau.
      </p>
      <p>
        Tiếp theo, tạo ra rồi thì việc tiếp theo là xác định vị trí cho nó. Ở
        đây mình dùng position: absolute, thuộc tính này dùng để xác định vị trí
        tuyệt đối của nó so với button. Câu hỏi đặt ra là tại sao nó biết vị trí
        này so với button. Vì button này là thẻ gốc tạo ra ::before?
      </p>
      <p>
        No. Câu trả lời là khi dùng position: absolute cho thẻ nào, thì vị trí
        của nó sẽ là vị trí tuyệt đối so với phần tử cha nào gần nhất của nó có
        position không phải static, tức là position mặc định nếu mình không set
        position.
      </p>
      <p>
        Tức là ví dụ mình có một div A, có position: absolute. Thì trình duyệt
        sẽ tìm kiếm vị trí cha của nó, nếu cha của nó có position khác với mặc
        định thì vị trí của nó sẽ so với cha nó. Nếu không thì tiếp tục, tìm tới
        ông nó, ông cố nó,... đến khi nào tới root thì thôi.
      </p>
      <p>
        Với lí do đó, mình set position: relative (để khác với mặc định) cho thẻ
        button vì hiển nhiên ta muốn thẻ màu vàng chúng ta đang tạo ra có vị trí
        nằm ngoài so với button.
      </p>
      <div class="block-scss">
        <h4>SCSS</h4>
        <pre>
                    <code class="language-css">
    button &#123;
      position: relative;
      &::before &#123;
        position: absolute;
        left: -60%;
        top: -60%;
      &#125;
    &#125;</code>
              </pre>
      </div>
      <div class="result">
        <p>Kết quả bước 2</p>
        <div>
          <button class="step-2">Hover me</button>
        </div>
      </div>
    </div>
  </div>
  <div id="part-5" class="part part-5 block-code">
    <div class="title">
      <i class="fas fa-laptop-code"></i>
      <h3>
        Transform, Transition & :hover
      </h3>
    </div>
    <div class="content">
      <p>
        Mục tiêu tiếp theo của chúng ta là làm thẻ vàng chúng ta tạo ra bằng
        ::before ở trên chuyển động ngang khi hover vào button
      </p>
      <p>
        Để làm được điều này, chúng ta sẽ bắt đầu bước vào khái niệm tạo
        animation cơ bản.
      </p>
      <p>
        Để làm được animation cơ bản chúng ta cần hiểu trong 1 một animation có
        2 trạng thái quan trọng nhất là trạng thái bắt đầu và trạng thái kết
        thúc.
      </p>
      <p>
        Tức là 1 thẻ chúng ta tạo ra khi bắt đầu ở vị trí nào, màu sắc ra sao,
        kích thước thế nào và khi kết thúc nó sẽ ra sao?
      </p>
      <p>
        Cụ thể trong trường hợp hiệu ứng của chúng ta, cái chúng ta animate ở
        đây là cái thẻ vàng. Chúng ta sẽ làm nó chuyển động ngang khi hover
        button. Có nghĩa là thẻ vàng ở trạng thái lúc đầu nằm bên trái button,
        khi kết thúc nằm bên phải button.
      </p>
      <p>Điều này sẽ dẫn đến đoạn code như sau.</p>
      <div class="block-scss">
        <h4>SCSS</h4>
        <pre>
                <code class="language-css">
  button &#123;
    &:hover &#123;
      &::before &#123;
        left: 120%;
      &#125;
    &#125;
  &#125;</code>
          </pre>
      </div>
      <p>
        Các bạn hãy đối chiếu lại vị trí của ::before trạng thái ban đầu. Ở đây
        pseudo class :hover sẽ giúp các bạn xác định trạng thái khi button sẽ
        thế nào khi chúng ta hover nó. Ví dụ background sẽ thành màu gì, kích
        thước ra sao, các phần tử con của nó sẽ như thế nào, ...
      </p>
      <p>
        Nhưng khi các bạn code đoạn này xong, các bạn sẽ nhận ra rằng điều chúng
        ta đang chờ đợi không diễn ra. Khi hover vào button, thẻ vàng sẽ tự 'tốc
        biến' từ trái sang phải button mà không có dấu vết gì. Đó không phải
        điều chúng ta muốn.
      </p>
      <p>
        Vậy để thẻ vàng 'chuyển động' từ A -> B khi hover mà không tốc biến,
        chúng ta phải làm sao?
      </p>
      <p>Cách làm đơn giản nhất là dùng thuộc tính transition</p>
      <p>
        Đây có thể nói là một trong những thuộc tính quan trọng bậc nhất khi làm
        css animation. Vậy nó là gì?
      </p>
      <p>
        Theo w3school, 'CSS transitions allows you to change property values
        smoothly (from one value to another), over a given duration'. Hiểu đơn
        giản là khi ta set transition cho một thẻ (việc set thế nào mình sẽ nói
        sau), thì khi thẻ đó có việc biến đối trạng thái có liên quan đến những
        điều ta set trong transition, thì transition sẽ giúp chúng ta tạo ra một
        sự biến chuyển mượt mà giữa 2 trạng thái chứ không phải đùng 1 phát từ A
        thành B.
      </p>
      <p>
        Ở trường hợp chúng ta có thể hiểu đó là transition giúp chúng ta tạo
        chuyển động ngang cho thẻ vàng khi nó đổi trạng thái (:hover)
      </p>
      <p>
        Điều đó dẫn đến dòng code này, đây là dòng code ta set transition cho
        button.
      </p>
      <div class="block-scss">
        <h4>SCSS</h4>
        <pre>
                <code class="language-css">
  button &#123;
    &::before &#123;
      transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    &#125;
  &#125;</code>
          </pre>
      </div>
      <p>
        Ở đây, chúng ta đã dùng thuộc tính transition để set 3 thứ
        transition-property, transition-duration, transition-timing-function.
        Nói cách khác một dòng code trên là thay thế của ba dòng này.
      </p>
      <div class="block-scss">
        <h4>SCSS</h4>
        <pre>
                <code class="language-css">
  button &#123;
    &::before &#123;
      transition-property: all;
      transition-duration: 0.6s;
      transition-timing-function:
                  cubic-bezier(0.19, 1, 0.22, 1);
    &#125;
  &#125;</code>
          </pre>
      </div>
      <p>
        Đầu tiên transition-property dùng để xác định thuộc tính nào sẽ được
        biến đổi mượt mà, ví dụ
      </p>
      <p>
        Ở trường hợp này mình dùng transition-property: all nên nó sẽ áp dụng
        cho toàn thuộc tính của button nếu có biến đổi trạng thái
      </p>
      <p>
        Tiếp theo transition-duration dùng để xác định thời gian của cả quá
        trình biến đổi mượt mà đó là bao lâu. Ở project này mình cho thẻ vàng
        chuyển động trong 0.6s.
      </p>
      <p>
        Tiếp đến là transition-timing-function, cái này thì xin hẹn các bạn ở
        những bài tiếp theo. Vì bài đã dài, và như mình đã nói đây là 1 journey,
        các bạn không cần thiết phải vội nhồi nhét quá nhiều trong project đầu
        tiên. Một lí do khác là cái này cũng khá dài để giải thích, nên tạm thời
        các bạn cứ set thuộc tính này theo mình nhen.
      </p>
      <p>
        Vậy đến đây các bạn cũng đã làm thẻ vàng chuyển động được rồi. Trước khi
        qua phần mới mình muốn các bạn set thêm cho mình 1 thuộc tính cho thẻ
        vàng (::before).
      </p>
      <p>
        Mục đích của dòng code này là để thẻ vàng nghiêng cho giống hiệu ứng
        project yêu cầu. Còn về thuộc tính transform này, mình cũng xin hẹn các
        bạn ở các bài tiếp theo.
      </p>
      <div class="block-scss">
        <h4>SCSS</h4>
        <pre>
              <code class="language-css">
  button &#123;
    &::before &#123;
      transform: rotate(20deg);
    &#125;
  &#125;</code>
        </pre>
      </div>
      <div class="result">
        <p>Kết quả bước 3</p>
        <div>
          <button class="step-3">Hover me</button>
        </div>
      </div>
    </div>
  </div>
  <div id="part-6" class="part part-6 block-code">
    <div class="title">
      <i class="fas fa-laptop-code"></i>
      <h3>Overflow: hidden</h3>
    </div>
    <div class="content">
      <p>
        Ở phần này, chúng ta sẽ ẩn thẻ vàng đi khi nó nằm ngoài button. Vì rõ
        ràng như các bạn thấy, cái chúng ta cần là hiệu ứng button. Để thẻ vàng
        lồ lộ như vậy thật không hay và cũng làm mất đi độ ảo diệu của project.
        Đúng không?
      </p>
      <p>Vậy chúng ta có thể ẩn nó đi đơn giản bằng cách:</p>
      <p>
        Như các bạn cũng thấy,phần thẻ vàng nằm ngoài button sẽ biến mất, đây là
        chức năng của overflow: hidden, nó sẽ làm biến mất những phần tử con nào
        nằm ngoài phần tử cha.
      </p>
      <div class="block-scss">
        <h4>SCSS</h4>
        <pre>
                <code class="language-css">
    button &#123;
      overflow: hidden;
    &#125;</code>
          </pre>
      </div>
      <div class="result">
        <p>Kết quả bước 4</p>
        <div>
          <button class="step-4">Hover me</button>
        </div>
      </div>
    </div>
  </div>
  <div id="part-7" class="part part-7 block-code">
    <div class="title">
      <i class="fas fa-laptop-code"></i>
      <h3>
        Polish project
      </h3>
    </div>
    <div class="content">
      <p>
        Thực ra với project hiện nay đã xong rồi. Phần này mình làm để làm
        project đẹp thêm thôi.
      </p>
      <p>Các bạn set thêm những thuộc tính này vào project.</p>
      <p>
        Đầu tiên là thuộc tính opacity: 0.4 cho thẻ vàng (::before), cái này
        giúp làm mờ thẻ vàng đi, để nó khi xuất hiện lúc hover sẽ không che đi
        text của button cũng như làm hiệu ứng ảo diệu hơn.
      </p>
      <p>
        :active để xác định trạng thái khi click button. Ở đây cụ thể khi click
        button, mình đã thay đổi thuộc tính box-shadow, và hiển nhiên thuộc tính
        này cũng được animation vì ở transition mình đã set transition-property:
        all -> sẽ áp dụng cho tất cả thuộc tính.
      </p>
      <div class="block-scss">
        <h4>SCSS</h4>
        <pre>
                <code class="language-css">
    button &#123;
      &::before &#123;
        opacity: 0.4;
      &#125;
      &:active &#123;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      &#125;
    &#125;</code>
          </pre>
      </div>
      <div class="result">
        <p>Kết quả bước 5</p>
        <div>
          <button class="step-5">Hover me</button>
        </div>
      </div>
    </div>
  </div>
  <div id="part-8" class="part part-8">
    <div class="title">
      <i class="fas fa-laptop-code"></i>
      <h3>Tổng kết</h3>
    </div>
    <div class="content">
      <p>
        Phew, vậy là bước đầu tiên của hành trình của chúng ta đã xong. Bravo,
        các bạn nên thử code lại 1 lần không theo hướng dẫn để nhớ và hiểu rõ
        hơn nhen.
      </p>
      <p>
        Mình sẽ tổng kết nhanh điều các bạn cần nằm sau khi kết thúc project này
        theo thứ tự quan trọng giảm dần:
      </p>
      <p>
        1. transition, cụ thể là khái niệm và cách sử dụng transition,
        transition-property & transition-duration.
      </p>
      <p>2. :hover & :active</p>
      <p>
        3. position: absolute. Nhấn mạnh là các bạn nên hiểu rõ vị trí nó so với
        cái gì? Thần chú: Cha gần nhất có position khác static.
      </p>
      <p>
        4. ::before & ::after. Pseudo element, định nghĩa và chức năng của nó.
      </p>
      <p>
        Ngoài lề một chút là nếu có bạn nào thắc mắc về sự khác biệt giữa
        :before với ::before thì các bạn hãy đọc bài này, tác giả đã giải thích
        rất kĩ.
        <a
          href="https://css-tricks.com/to-double-colon-or-not-do-double-colon/"
          target="_blank"
          >::before vs :before</a
        >
      </p>
      <p>
        Đây là link codepen của project này:
        <a href="https://codepen.io/januaryofmine/pen/GLBGxK" target="_blank"
          >Shining Button</a
        >
      </p>
      <p>
        Okay, Shining hover button đã hoàn thành. Hẹn gặp lại các bạn ở những
        project tiếp theo.
      </p>
    </div>
  </div>
</div>
