h1 {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background: white;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  color: #9999ff;
  border-radius: 10px;
  font-weight: 300;
  width: 90%;
  font-size: 22px;
}

.complete {
  position: relative;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 10px;
  margin: 0 auto;
  font-size: 18px;
  background-color: white;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  &::before {
    content: '';
    background: #fdc830;
    opacity: 0.4;
    position: absolute;
    left: -60%;
    top: -60%;
    height: 100px;
    width: 50px;
    transform: rotate(20deg);
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    &::before {
      left: 120%;
    }
  }
  &:active {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}

.step-1 {
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.step-2 {
  position: relative;
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  &::before {
    content: '';
    width: 50px;
    height: 100px;
    background: #fdc830;
    position: absolute;
    left: -60%;
    top: -60%;
  }
}

.step-3 {
  position: relative;
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  &::before {
    content: '';
    width: 50px;
    height: 100px;
    background: #fdc830;
    position: absolute;
    left: -60%;
    top: -60%;
    transform: rotate(20deg);
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    &::before {
      left: 120%;
    }
  }
}

.step-4 {
  position: relative;
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  overflow: hidden;
  &::before {
    content: '';
    width: 50px;
    height: 100px;
    background: #fdc830;
    position: absolute;
    left: -60%;
    top: -60%;
    transform: rotate(20deg);
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    &::before {
      left: 120%;
    }
  }
}

.step-5 {
  position: relative;
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  overflow: hidden;
  &::before {
    content: '';
    width: 50px;
    height: 100px;
    background: #fdc830;
    opacity: 0.4;
    position: absolute;
    left: -60%;
    top: -60%;
    transform: rotate(20deg);
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    &::before {
      left: 120%;
    }
  }
  &:active {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

}

p {
  line-height: 2em;
  text-align: justify;
}

.result {
  $radius-of-result: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  border-radius: $radius-of-result;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  p {
    color:white;
    border-radius: $radius-of-result $radius-of-result 0 0;
    width: 100%;
    background: #9999ff;
    text-align: center;
    margin: 0;
    font-size: 20px;
  }
  > div {
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 $radius-of-result $radius-of-result;
  }
}

a {
  text-decoration: none;
}

.card {
  position: relative;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 25px;
  margin: 50px auto;
  width: 90%;
  padding: 40px 10px 25px;
}

.container-step {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.card-step {
  height: 280px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  transition: 0.4s ease-out;
  position: relative;
  background: white;
  margin: 5px;
  left: 50%;
  transform: translateX(-50%);
  &:not(:first-child) {
    margin-left: 0px;
  }
  &:hover {
      transform: translateX(-50%);
      ~ .card-step {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
      }
  }
  p {
    border-radius: 10px 10px 0 0;
    margin: 0;
    background: #9999ff;
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  > div {
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.part {
  .title {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #f37335;
    margin: 20px 0;
    i {
    }
    h3 {
      margin: 0 15px;
      font-weight: 200;
    }
  }

  .content {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.part-2 {
  .content {
    > div {
      background: white;
      border-radius: 5px;
      box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
      width: 70%;
      margin: 10px auto;
      h4 {
        padding: 10px 15px;
        border-radius: 5px 5px 0 0;
        font-weight: 100;
        margin-bottom: 0;
        color: white;
        text-align: center;
        font-weight: 400;
        line-height: 1.5em;
      }
      > div {
        padding: 10px 25px;
        border-radius: 0 0 5px 5px;
        p {
        }
      }
      &:first-of-type {
        h4 {
          background: #9999ff;
        }
      }
      &:last-of-type {
        h4 {
          background: #f6d365;
        }
      }
    }
  }
}

.block-code {
  .content {
    .block-html {
      position: relative;
      margin: 50px 0;
    }
    .block-scss {
      position: relative;
      margin: 50px 0;
    }
    h4 {
      $height-title: 40px;
      $width-title: 100px;
      margin: 0 auto;
      border-radius: 5px 5px 0 0;
      font-weight: 100;
      color: #CF649A;
      width: $width-title;
      height: $height-title;
      // box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      border-radius: 20%;
      position: absolute;
      top: -$height-title/2;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 10px;
      border: 1px solid gray;
    }
    pre {
      border-radius: 10px;
      background: transparent;
      box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
      border: 1px solid gray;
      padding-bottom: 0;
      padding-top: 0;
      margin: 0 auto;
      width: 90%;
    }
  }
}

@media screen and (min-width: 768px) {
  h1 {
    width: 55%;
    font-size: 28px;
  }
  .card {
    padding: 40px 35px 25px;
    width: 60%;
  }

  .part {
    .title {
      font-size: 20px;
    }

    .content {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  .container-step {
    margin: 20px auto;
    display: inline-flex;
    flex-direction: row;
  }

  .card-step {
    margin: 0;
    left: 0px;
    transform: translateX(0);
    &:not(:first-child) {
      margin-left: -50px;
    }
    &:hover {
      transform: translate(0, -20px);
      transition: 0.4s ease-out;
      ~ .card-step {
          position: relative;
          left: 52px;
          transform: translateX(0);
          transition: 0.4s ease-out;
      }
    }
  }

  .part-2 {
    .content {
      > div {
        margin: 15px 0;
        h4 {
          text-align: start;
          line-height: 1rem;
          font-size: 18px;
        }
      }
    }
  }

  .block-code {
    .content {
      h4 {
        left: -30px;
        transform: translateX(0);
      }
      pre {
        margin: 0;
        width: 70%;
      }
    }
  }
}
