<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item brand-logo">
          CSS Animation Lab
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item nav-text" routerLink="/home">
            Home
          </a>
          <a class="navbar-item nav-text" routerLink="/articles">
            Articles
          </a>
          <a class="navbar-item nav-text" routerLink="/about">
            About
          </a>
        </div>
      </div>
    </div>
  </nav>
