<div class="wrapper-card">
  <span class="yellow text-class">.loader </span><span class="gray">&#123;</span
  ><br />
  <p>
    <!-- .complete {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        span {
          display: inline-block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #3498db;
          margin: 35px 5px;
          &:nth-of-type(1) {
            animation: bounce 1s ease-in infinite;
          }
          &:nth-of-type(2) {
            animation: bounce 1s ease-in 0.2s infinite;
          }
          &:nth-of-type(3) {
            animation: bounce 1s ease-in 0.4s infinite;
          }
        }
      } -->
    <span class="violet"
      >width<span class="fff">: </span><span class="yellow">100px</span
      ><span class="fff">;</span><br />
      height<span class="fff">: </span><span class="red">100px</span
      ><span class="fff">;</span><br />
      margin<span class="fff">: </span><span class="yellow">0 auto</span
      ><span class="fff">;</span><br />
      <span class="span-1">span</span>
      <span class="gray">&#123;</span><br />
      <div class="block-span">
        width<span class="fff">: </span><span class="yellow">100px</span
        ><span class="fff">;</span><br />
        height<span class="fff">: </span><span class="red">100px</span
        ><span class="fff">;</span><br />
        margin<span class="fff">: </span><span class="yellow">0 auto</span
        ><span class="fff">;</span><br />
      </div>
      <span class="gray right-brace-1">&#125;</span>
    </span>
  </p>
  <span class="gray right-brace">&#125;</span>
</div>
