@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

.wrapper-card {
  margin: 0;
  background: white;
  transform: rotateY(-20deg);
  animation: anim 10s linear infinite;
  display: inline-block;
  width: 100%;
  // height: 300px;
  box-shadow: 0px 14px 30px rgba(34, 35, 58, 0.2);
  border-radius: 20px;
  padding-top: 10px;
}

p {
  padding: 0 70px;
  margin: 0;
  color: #fff;
  display: inline-block;
}

.yellow {
  color: #EFC371;
}

.violet {
  color: #8E94C0;
}

.gray {
  color: gray;
}

.green {
  color: #5A9462;
}

.red {
  color: #DD8339;
}

.text-class  {
  margin-left: 50px;
  margin-right: 10px;
}

.right-brace {
  display: block;
  padding-left: 50px;
}

.right-brace-1 {
  display: block;
  padding-left: 10px;
}

.span-1 {
  padding: 10px;
}

.block-span {
  padding-left: 18px;
}
@keyframes anim {
  0% {
    transform: rotateY(-20deg) rotatex(10deg);
  }

  50% {
    transform: rotateY(-10deg) rotatex(15deg);
  }

  100% {
    transform: rotateY(-20deg) rotatex(10deg);
  }
}
