// HERO
.hero-wrapper {
  margin: 20px auto;
  background-color: #f3f7f9 !important;
}

.text-move {
  width: 100%;
}

.text {
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.1em;
    width: 95%;
    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  }
  &__sub-title {
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px auto;
    box-shadow: 0px 4px 10px rgba(34, 35, 58, 0.2);
    width: 55%;
    border-radius: 5px;
    padding: 5px 0;
    background: linear-gradient(to right, #f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: white;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.intro-desc {
  text-align: justify;
  p {
    text-align: center;
    text-transform: uppercase;
  }
  ul {
    padding: 0 10px;
    li {
      color: #9999ff;
      margin: 2px;
    }
  }
}

.call-wrapper {
  padding-top: 0;
  .call-action {
    display: flex;
    justify-content: center;
    a {
      margin: 0 auto;
      box-shadow: 3px 2px 10px rgba(34, 35, 58, 0.2);
      border-radius: 5px;
      padding: 10px;
    }
  }
}

.expir-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .text {
    padding-top: 80px;
    &__title {
      text-align: start;
      width: 63%;
      margin: 0;
      animation: typing-desktop 3.5s steps(30, end),
        blink-caret 0.5s step-end infinite;
    }
    &__sub-title {
      margin: 10px 0;
      width: 40%;
    }
  }

  .intro-desc-wrapper {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(34, 35, 58, 0.2);
    margin-top: 30px;
    padding: 20px;
  }

  .intro-desc {
    text-align: start;
    p {
      text-align: start;
      text-transform: uppercase;
    }
    ul {
      padding: 0 10px;
      li {
        color: #9999ff;
        margin: 10px;
      }
    }
  }

  .call-wrapper {
    margin-top: 30px;
    padding-top: 0;
    padding-bottom: 0;
    .call-action {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .expir-wrapper {
    display: block;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    .expir-card {
      background: white;
      width: 120px;
      height: 100%;
      border: 1px solid #dfe4e7;
      box-shadow: 0 0px 5px 0 rgba(42,51,83,.12);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      .expir-image {
        border-radius: 5px 5px 0 0;
        height: 60%;
        display: flex;
        justify-content: center;
      }
      .expir-text {
        height: 40%;
        border-top: 1px solid #dfe4e7;
        padding: 0 5px;
        &__number {
          font-size: 14px;
          color: #9999ff;
        }
        &__title {
          margin-top: 2px;
          color: #f37335;
        }
      }
    }
  }
}

@keyframes typing-desktop {
  from {
    width: 0;
  }
  to {
    width: 63%;
  }
}

.loader-of-mine {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
  div {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #3498db;
    margin: 35px 5px;
    &:nth-of-type(1) {
      animation: bounce 1s ease-in infinite;
    }
    &:nth-of-type(2) {
      animation: bounce 1s ease-in 0.2s infinite;
    }
    &:nth-of-type(3) {
      animation: bounce 1s ease-in 0.4s infinite;
    }
  }
}

@keyframes bounce{
  0% {
    transform: translateY(0);
  }

  25%{
    transform: translateY(-20px);
  }

  75% {
    transform: translateY(20px);
  }

  100%{
    transform: translateY(0px);
  }
}

.button-expir-1 {
  position: relative;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
  margin: 20px auto;
  font-size: 18px;
  background-color: white;
  overflow: hidden;
  height: 50px;
  &::before {
    content: '';
    background: #fdc830;
    opacity: 0.4;
    position: absolute;
    left: -60%;
    top: -60%;
    height: 100px;
    width: 50px;
    transform: rotate(20deg);
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    &::before {
      left: 120%;
    }
  }
  &:active {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}
