<div class="hero-wrapper">
  <div class="container">
    <div class="columns is-desktop">
      <div class="text column">
        <h1 class="text__title">
          <span class="has-text-info">
            Welcome to
          </span>
          <span class="has-text-danger">
            CSS Animation Lab
          </span>
        </h1>
        <h3 class="text__sub-title">
          Magic your style
        </h3>
      </div>
      <div class="text-move column">
        <app-text-move></app-text-move>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="columns is-desktop">
    <div class="column intro-desc-wrapper">
      <div class="intro-desc">
        <p>Tại đây bạn sẽ được thực hành về</p>
        <ul>
          <li>24 thí nghiệm về CSS Animation</li>
          <li>Hướng dẫn CSS Animation từ A -> Z</li>
          <li>Các điểm nhấn quan trọng về CSS</li>
          <li>Cách làm những Daily UIs trở thành ngoạn mục</li>
        </ul>
      </div>
    </div>
    <div class="column call-wrapper">
      <div class="call-action">
        <div class="expir-wrapper">
          <div class="expir-card">
            <div class="expir-image">
              <button class="button-expir-1">Hover Me</button>
            </div>
            <div class="expir-text">
              <p class="expir-text__number">Thí nghiệm 1</p>
              <p class="expir-text__title">Shining Button</p>
            </div>
          </div>
          <div class="expir-card">
            <div class="expir-image">
              <div class="loader-of-mine">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="expir-text">
              <p class="expir-text__number">Thí nghiệm 2</p>
              <p class="expir-text__title">Bounce Loader</p>
            </div>
          </div>
          <div class="expir-card">
            <div class="expir-image">
              <button class="button-expir-1">Hover Me</button>
            </div>
            <div class="expir-text">
              <p class="expir-text__number">Thí nghiệm 1</p>
              <p class="expir-text__title">Shining Button</p>
            </div>
          </div>
          <div class="expir-card">
            <div class="expir-image">
              <div class="loader-of-mine">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="expir-text">
              <p class="expir-text__number">Thí nghiệm 2</p>
              <p class="expir-text__title">Bounce Loader</p>
            </div>
          </div>
        </div>
        <a class="has-text-info" routerLink="/articles">Vào phòng thí nghiệm</a>
      </div>
    </div>
  </div>
</div>
